* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f5f7;
}

.header {
    width: 100%;
    height: 50px;
    background-color: rgba(105, 105, 105, 0.6);
    border-bottom-color: #f3f5f7;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    position: fixed;
}

.time {
    width: 20%;
    height: 50px;
    float: left;

    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: aliceblue;
}

.content {
    width: 60%;
    height: 50px;
    margin: 0 auto;
    float: left;

    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    color: aliceblue;
}

.head {
    width: 20%;
    height: 50px;
    float: right;
}

.photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    position: relative;
    left: 165px;
    /* left: 90%; */
    margin-top: 5px;

    background-color: #fff;
    transition: 0.5s;
    z-index: 1;
}

.profile {
    width: 300px;
    height: 350px;
    border-radius: 20px;

    margin-right: 20px;
    float: right;
    transform: translate(-8%, -5%);
    background-color: #f3f5f7;
}

.photohover {
    transform: scale(1.5);
}

.profilefade-enter-active,
.profilefade-leave-active {
    transition: opacity 0.7s;
}

.profilefade-enter,
.profilefade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}

#uid {
    padding-top: 60px;
    width: 100%;
    height: 50px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
}

#name {
    width: 100%;
    height: 50px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile hr {
    width: 150px;
    margin: 0 auto;
}

#logout {
    position: absolute;
    left: 50%;
    top: 230px;

    background: rgba(138, 42, 226, 0.8);
    color: aliceblue;
    width: 120px;
    height: 30px;

    font-size: 16px;
    text-align: center;
    line-height: 30px;

    transform: translate(-50%, -50%);
    border-radius: 15px;

    cursor: pointer;
}

#homepage {
    position: absolute;
    left: 50%;
    top: 290px;

    background: rgba(138, 42, 226, 0.8);
    color: aliceblue;
    width: 120px;
    height: 30px;

    font-size: 16px;
    text-align: center;
    line-height: 30px;

    transform: translate(-50%, -50%);
    border-radius: 15px;

    cursor: pointer;
}

.footer {
    width: 100%;
    height: 150px;
    margin: 0 auto;

    background-color: rgba(0, 0, 0, 1);
}

#block {
    width: 100%;
    height: 100px;

    /* background-color: red; */
    z-index: 3;
}

#box {
    width: 1300px;
    height: 1100px;
    margin: 0 auto;
}

#sidebar {
    float: left;

    width: 400px;
    height: 1000px;

    background-color: rgba(255,255,255);
    border-radius: 20px;
    z-index: 2;
}

#calender {
    float: right;

    width: 870px;
    height: 220px;

    background-color: rgba(255,255,255);
    border-radius: 20px;
    z-index: 2;
}

#record {
    float: right;

    width: 870px;
    height: 650px;
    margin-top: 30px;

    background-color: rgba(255,255,255);
    border-radius: 20px;
    z-index: 2;
}

#calender_stats {
    width: 100%;
    height: 50px;

    font-size: 18px;
    text-align: center;
}

#calender_stats div{
    margin-top: 9px;
}

#calender_main {
    margin-top: 20px;
    margin-left: 35px;
    width: 100%;
    height: 120px;
}

.calender_row {
   width: 100%;
   height: 13px;
   margin-bottom: 2px;
}

.calender_block {
    width: 13px;
    height: 13px;

    line-height: 10px;
    vertical-align: bottom;

    margin-right: 2px;
    display: inline-block;
}

.calender_content {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 3;

    cursor: pointer;
}

#calender_month {
    width: 100%;
    height: 30px;

    background-color: black;
}

.button {
    position: relative;
    left: 50%;


    background: rgba(138, 42, 226, 0.8);
    color: aliceblue;
    width: 120px;
    height: 30px;

    font-size: 16px;
    text-align: center;
    line-height: 30px;

    transform: translate(-50%, -50%);
    border-radius: 15px;

    margin-top: 20px;
    margin-bottom: 20px;

    cursor: pointer;
}

#selectBar {
    width: 100%;
    height: 40px;
}

#sortTime, #sortDifficulty, #selectGame {
    float: left;
    width: 30%;
    height: 40px;

    list-style: none;
    background-color: rgba(79, 79, 79, 0.8);

    overflow: hidden;
}

#sortTime {
    margin-left: 30px;

    font-size: 18px;
    text-align: center;
}

#sortDifficulty {
    margin-left: 10px;

    font-size: 18px;
    text-align: center;
}

#selectGame {
    margin-left: 10px;
}

.select{
    width: 100%;
    height: 40px;

    font-size: 18px;
    text-align: center;

    list-style: none;
    background-color: rgba(79, 79, 79, 0.8);

    overflow: hidden;
    cursor: pointer;
}

.sideBarDiv {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

.sideBarBlock {
    margin-top: 20px;
    height: 20px;
}