* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f5f7;
}

.header {
    width: 100%;
    height: 50px;
    background-color: rgba(105, 105, 105, 0.6);
    border-bottom-color: #f3f5f7;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    position: fixed;

    z-index: 10;
}

.time {
    width: 20%;
    height: 50px;
    float: left;

    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: aliceblue;
}

.content {
    width: 60%;
    height: 50px;
    margin: 0 auto;
    float: left;

    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    color: aliceblue;
}

.head {
    width: 20%;
    height: 50px;
    float: right;
}

.photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    position: relative;
    left: 165px;
    /* left: 90%; */
    margin-top: 5px;

    background-color: #fff;
    transition: 0.5s;
    z-index: 1;
}

.profile {
    width: 300px;
    height: 350px;
    border-radius: 20px;

    margin-right: 20px;
    float: right;
    transform: translate(-8%, -5%);
    background-color: #f3f5f7;
}

.photohover {
    transform: scale(1.5);
}

.profilefade-enter-active,
.profilefade-leave-active {
    transition: opacity 0.7s;
}

.profilefade-enter,
.profilefade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}

#uid {
    padding-top: 60px;
    width: 100%;
    height: 50px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
}

#name {
    width: 100%;
    height: 50px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile hr {
    width: 150px;
    margin: 0 auto;
}

#logout {
    position: absolute;
    left: 50%;
    top: 230px;

    background: rgba(138, 42, 226, 0.8);
    color: aliceblue;
    width: 120px;
    height: 30px;

    font-size: 16px;
    text-align: center;
    line-height: 30px;

    transform: translate(-50%, -50%);
    border-radius: 15px;

    cursor: pointer;
}

#upload {
    position: absolute;
    left: 50%;
    top: 290px;

    background: rgba(138, 42, 226, 0.8);
    color: aliceblue;
    width: 120px;
    height: 30px;

    font-size: 16px;
    text-align: center;
    line-height: 30px;

    transform: translate(-50%, -50%);
    border-radius: 15px;

    cursor: pointer;
}

#block {
    width: 100%;
    height: 50px;

    /* background-color: red; */
    z-index: 3;
}

#game {
    width: 1200px;
    height: 800px;
    margin: 50px auto;

    /* background-color: pink; */
}

#board {
    position: relative;
    width: 820px;
    height: 820px;

    background-color: rgba(54, 54, 54, 0.8);
    display: inline-block;
}

#control {
    width: 360px;
    height: 800px;
    float: right;

    background-color: rgba(105, 105, 105, 0.7)
        /* display:inline-block; */
}

#control {
    text-align: center;
}

/*功能按钮：文字颜色、外边距*/
#control .buttons {
    background: rgba(138, 42, 226, 0.9);
    color: aliceblue;
    width: 200px;
    height: 40px;

    font-size: 18px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    margin: 30px auto;

    cursor: pointer;
}

#control HR {
    width: 80%;
    margin: 10px auto;
}

#control p {
    width: 200px;
    height: 40px;

    font-size: 25px;
    text-align: center;
    line-height: 50px;
    margin: 10px auto;
    color: aliceblue;
    /* color: aliceblue; */
}

#diffcult {
    position: relative;
    width: 100%;
    height: 100px;
}

.score {
    width: 100%;
    height: 60px;

    font-size: 25px;
    text-align: center;
    line-height: 60px;
    color: aliceblue;
}

.bar_wrap {
    position: absolute;
    left: 20%;
    width: 200px;
    height: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.bar_container {
    width: 100%;
    height: 100%;
    background: #907ac2;

}

.bar_into {
    background: #302d9f;
    width: 0;
    height: 100%;
}

.bar_drag {
    position: absolute;
    top: -50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid #302d9f;
    background: #fff;
    box-shadow: 0 0 10px #302d9f;
}

#text {
    position: absolute;
    left: 35%;
    top: 50%;

    width: 100px;
    height: 50px;

    font-size: 25px;
    text-align: center;
    color: aliceblue;
}


.board-bigrow {
    width: 100%;
    height: 273px;
}

.board-bigblock {
    width: 273px;
    height: 273px;

    border: 1px solid black;
    display: inline-block;
}

.board-row{
   width: 100%;
   height: 90px;
}

.board-block {
    width: 90px;
    height: 90px;

    color: aliceblue;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    vertical-align: bottom;

    border: 1px solid black;
    display: inline-block;

    cursor: pointer;
}

.board-block:hover {
    /background-color: #f3f5f7;
    background-color: rgba(248, 248, 255, 0.5)
}

.red {
    color: #ff0000;
}

#win {
    position: absolute;
    left: 54%;
    top: 40%;
    width: 600px;
    height: 80px;

    font-size: 100px;
    text-align: center;
    color: #f3f5f7;
    transform: translate(-90%, -90%);

    visibility: hidden;

    z-index: 4;
}

#open {
    background-color: rgba(105, 105, 105, 0.7);;
}

#hint {
    width: 1200px;
    height: 500px;
    margin: 20px auto;
    border-radius: 40px;
    background-color: rgba(105, 105, 105, 0.7);

    font-size: 25px;
    text-align: center;
    color: aliceblue;

    z-index: 4;
}

#hint h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#hint p {
    padding: 5px 0;
}

#number {
    margin: 25px auto;

    font-size: 30px;
    text-align: center;
    line-height: 40px;
    vertical-align: bottom;
}

.fixNumber {
    font-weight: bold;
    color: #FFF8DC;
}

#keyboard {
    width: 182px;
    height: 242px;
    position: fixed;

    border: 1px solid black;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 5;
}

.keyboard-row {
    width: 100%;
    height: 60px;
}

.keyboard-block {
    width: 60px;
    height: 60px;

    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
}

.keyboard-block:hover {
    background-color: rgba(105, 105, 105, 0.5)
}

#keyboardNumber {
    margin: 10px auto;

    font-size: 20px;
    text-align: center;
    line-height: 40px;
    vertical-align: bottom;
}

#delete {
    width: 100%;
    height: 60px;

    text-align: center;
    font-size: 20px;
    line-height: 55px;
    cursor: pointer;
    border: 1px solid black;
}

#delete:hover {
    background-color: rgba(105, 105, 105, 0.5)
}


