<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.mapper.ScoreMapper">
    <select id="selectByUid" resultType="com.web.pojo.ScoreInfo">
        select *
        from record
        where uid = #{uid};
    </select>
    <select id="selectAll" resultType="com.web.pojo.ScoreInfo">
        select *
        from record
        limit 16;
    </select>
    <select id="selectSnakeRank" resultType="com.web.pojo.RankInfo">
        select name, score_snake as score
        from record
        where name != 'visitor'
        order by score_snake desc
        limit 16;
    </select>
    <select id="selectTetrisRank" resultType="com.web.pojo.RankInfo">
        select name, score_tetris as score
        from record
        where name != 'visitor'
        order by score_tetris desc
        limit 16;
    </select>
    <select id="selectSweepRank" resultType="com.web.pojo.RankInfo">
        select name, score_sweep as score
        from record
        where name != 'visitor'
        order by score_sweep
        limit 16;
    </select>
    <select id="selectSnakeByUid" resultType="com.web.pojo.RankInfo">
        select name, score_snake as score
        from record
        where uid = #{uid};
    </select>
    <select id="selectTetrisByUid" resultType="com.web.pojo.RankInfo">
        select name, score_tetris as score
        from record
        where uid = #{uid};
    </select>
    <select id="selectSweepByUid" resultType="com.web.pojo.RankInfo">
        select name, score_sweep as score
        from record
        where uid = #{uid};
    </select>
    <insert id="add">
        INSERT INTO record (uid, name, difficulty, score, date)
        VALUES (#{uid}, #{name}, #{difficulty}, #{score}, #{date});
    </insert>
</mapper>