<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.mapper.ScoreMapper">
    <select id="selectByUid" resultType="com.web.pojo.ScoreInfo">
        select *
        from record
        where uid = #{uid};
    </select>
    <select id="selectAll" resultType="com.web.pojo.ScoreInfo">
        select *
        from record
        limit 15;
    </select>
    <select id="selectSnakeRank" resultType="com.web.pojo.RankInfo">
        select name, score, difficulty
        from record
        where name != 'visitor' and game = 'snake'
        order by difficulty desc, score desc
        limit 15;
    </select>
    <select id="selectTetrisRank" resultType="com.web.pojo.RankInfo">
        select name, score, difficulty
        from record
        where name != 'visitor' and game = 'Tetris'
        order by difficulty desc, score desc
        limit 15;
    </select>
    <select id="selectSweepRank" resultType="com.web.pojo.RankInfo">
        select name, score, difficulty
        from record
        where name != 'visitor' and game = 'sweep'
        order by difficulty desc, score desc
        limit 15;
    </select>
    <select id="selectSnakeByUid" resultType="com.web.pojo.RankInfo">
        select name, score, difficulty
        from record
        where game = 'snake' and uid = #{uid}
        order by difficulty desc, score desc
        limit 1;
    </select>
    <select id="selectTetrisByUid" resultType="com.web.pojo.RankInfo">
        select name, score, difficulty
        from record
        where game = 'Tetris' and uid = #{uid}
        order by difficulty desc, score desc
        limit 1;
    </select>
    <select id="selectSweepByUid" resultType="com.web.pojo.RankInfo">
        select name, score, difficulty
        from record
        where game = 'sweep' and uid = #{uid}
        order by difficulty desc, score desc
        limit 1;
    </select>
    <select id="selectSudokuByUid" resultType="com.web.pojo.RankInfo">
        select name, score, difficulty
        from record
        where game = 'sudoku' and uid = #{uid}
        order by difficulty desc, score desc
        limit 1;
    </select>
    <select id="GetAllRecord" resultType="com.web.pojo.ScoreInfo">
        select *
        from record
        where uid = #{uid}
        order by difficulty desc, score desc;
    </select>
    <select id="GetSnakeRecord" resultType="com.web.pojo.ScoreInfo">
        select *
        from record
        where game = 'snake' and uid = #{uid}
        order by difficulty desc, score desc;
    </select>
    <select id="GetTetrisRecord" resultType="com.web.pojo.ScoreInfo">
        select *
        from record
        where game = 'Tetris' and uid = #{uid}
        order by difficulty desc, score desc;
    </select>
    <select id="GetSweepRecord" resultType="com.web.pojo.ScoreInfo">
        select *
        from record
        where game = 'sweep' and uid = #{uid}
        order by difficulty desc, score desc;
    </select>
    <select id="GetSudokuRecord" resultType="com.web.pojo.ScoreInfo">
        select *
        from record
        where game = 'sudoku' and uid = #{uid}
        order by difficulty desc, score desc;
    </select>
    <select id="GetPacmanRecord" resultType="com.web.pojo.ScoreInfo">
        select *
        from record
        where game = 'pacman' and uid = #{uid}
        order by difficulty desc, score desc;
    </select>
    <select id="GetSnakeCount" resultType="java.lang.Integer">
        select count(*)
        from record
        where game = 'snake' and uid = #{uid};
    </select>
    <select id="GetTetrisCount" resultType="java.lang.Integer">
        select count(*)
        from record
        where game = 'Tetris' and uid = #{uid};
    </select>
    <select id="GetSweepCount" resultType="java.lang.Integer">
        select count(*)
        from record
        where game = 'sweep' and uid = #{uid};
    </select>
    <select id="GetSudokuCount" resultType="java.lang.Integer">
        select count(*)
        from record
        where game = 'sudoku' and uid = #{uid};
    </select>
    <select id="GetPacmanCount" resultType="java.lang.Integer">
        select count(*)
        from record
        where game = 'pacman' and uid = #{uid};
    </select>
    <insert id="add">
        INSERT INTO record (uid, name, game, difficulty, score, date)
        VALUES (#{uid}, #{name}, #{game}, #{difficulty}, #{score}, #{date});
    </insert>
</mapper>