<!DOCTYPE html>
<head>
    <title>index</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./css/home.css" />
    <link rel="stylesheet" href="./font/iconfont.css">
</head>
<body background="./img/cool-background.png" style="background-size:100%;background-attachment: fixed;" unselectable="on" onselectstart="return false;" style="-moz-user-select:none;">
<div class="header">
    <div class="time">{{time}}</div>
    <div class="content"></div>
    <div class="head">
        <img :class="{photo:showPhoto, photohover:showPhotoHover}"
             @mouseenter="show" @mouseleave="hide"
             src="./img/bg1.png" alt="">
    </div>
    <transition name="profilefade">
        <div class="profile" v-show="showPhotoHover" @mouseenter="show" @mouseleave="hide">
            <div id="uid"></div>
            <div id="name"></div>
            <HR>
            <div id="logout" @click="logout">注销账号</div>
            <div id="homepage" @click="homepage">返回</div>
        </div>
    </transition>
</div>
<div id="block"></div>
<div id="box">
    <div id="sidebar">
        <div class="sideBarBlock"></div>
        <div class="sideBarDiv">uid:&nbsp;&nbsp;<b>{{uid}}</b></div>
        <div class="sideBarBlock"></div>
        <div class="sideBarDiv">name:&nbsp;&nbsp;<b>{{name}}</b></div>
        <div class="sideBarBlock"></div>
        <div class="sideBarBlock"></div>
        <div class="button">修改密码</div>
        <div class="sideBarBlock"></div>
        <div class="button">上传头像</div>
        <div class="sideBarBlock"></div>
        <div class="sideBarDiv">Snake</div>
        <div class="sideBarDiv">difficulty:&nbsp;&nbsp;<b>{{snakeDifficultly}}</b></div>
        <div class="sideBarDiv">score:&nbsp;&nbsp;<b>{{snakeScore}}</b></div>
        <div class="sideBarBlock"></div>
        <div class="sideBarDiv">Tetris</div>
        <div class="sideBarDiv">difficulty:&nbsp;&nbsp;<b>{{tetrisDifficultly}}</b></div>
        <div class="sideBarDiv">score:&nbsp;&nbsp;<b>{{tetrisScore}}</b></div>
        <div class="sideBarBlock"></div>
        <div class="sideBarDiv">Sweep</div>
        <div class="sideBarDiv">difficulty:&nbsp;&nbsp;<b>{{sweepDifficultly}}</b></div>
        <div class="sideBarDiv">score:&nbsp;&nbsp;<b>{{sweepScore}}</b></div>
        <div class="sideBarBlock"></div>
        <div class="sideBarDiv">Sudoku</div>
        <div class="sideBarDiv">difficulty:&nbsp;&nbsp;<b>{{sudokuDifficultly}}</b></div>
        <div class="sideBarDiv">score:&nbsp;&nbsp;<b>{{sudokuScore}}</b></div>
    </div>
    <div id="calender">
        <div id="calender_stats">
            <div>最近365天已游玩&nbsp;<b>{{dayCount}}天</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;共游玩&nbsp;<b>{{playCount}}次</b></div>
            <div>Snake:&nbsp;<b>{{snakeCount}}次</b>&nbsp;&nbsp;&nbsp;&nbsp;Tetris:&nbsp;<b>{{tetrisCount}}次</b>&nbsp;&nbsp;&nbsp;&nbsp;Sweep:&nbsp;<b>{{sweepCount}}次</b>&nbsp;&nbsp;&nbsp;&nbsp;Sudoku:&nbsp;<b>{{sudokuCount}}次</b>&nbsp;&nbsp;&nbsp;&nbsp;PacMan:&nbsp;<b>{{pacmanCount}}次</b></div>
        </div>
        <div id="calender_main">
            <div v-for="col in cols" class="calender_row">
                <div v-for="row in rows" class="calender_block" v-bind:title="msg"
                     @mouseenter="onEnterTd(col, row)">
                    <div :id="nameID(col, row)" :class="{calender_content:isShow[col][row]!=-1}"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="record">
        <div id="selectBar">
            <div id="sortTime">
                <select name="sortTime" class="select">
                    <option value="timeDescending">Time Descending</option>
                    <option value="timeAscending">Time Ascending</option>
                </select>
            </div>
            <div id="sortDifficulty">
                <select name="sortDifficulty" class="select">
                    <option value="difficultyDescending">Difficulty Descending</option>
                    <option value="difficultyAscending">Difficulty Ascending</option>
                </select>
            </div>
            <div id="selectGame">
                <select name="selectGame" class="select">
                    <option value="All">All Games</option>
                    <option value="Snake">Snake</option>
                    <option value="Tetris">Tetris</option>
                    <option value="Sweep">Sweep</option>
                    <option value="Sudoku">Sudoku</option>
                    <option value="PacMan">PacMan</option>
                </select>
            </div>
        </div>
        <ul id="recordList">
            <li class="recordTitle">
                <p>Rank</p>
                <div>Game</div>
                <p>Difficulty</p>
                <div>Score</div>
                <div>Date</div>
            <li class="" v-for="(item,index) in recordList">
                <p>{{index+1}}</p>
                <div>{{item.game}}</div>
                <p>{{item.difficulty}}</p>
                <div>{{item.score}}</div>
                <div>{{item.date}}</div>
            </li>
        </ul>
    </div>
</div>

<div class="footer" ></div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./js/vue.js"></script>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script src="./js/home.js"></script>
</body>
</html>
